{# templates/home/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil - Mon Site{% endblock %}

{% block body %}
    <h1>Bienvenue sur mon site</h1>
    <p>Vous pouvez écrire ici...</p>
{% endblock %}
